BasedOnStyle: LLVM
IndentWidth: 4
ColumnLimit: 79
AlignAfterOpenBracket: Align
AllowAllArgumentsOnNextLine: false
AllowAllParametersOfDeclarationOnNextLine: false
AlignConsecutiveAssignments: false
AlignConsecutiveDeclarations: false
AlignOperands: false
AllowShortFunctionsOnASingleLine: None
JavaScriptQuotes: Double
JavaScriptWrapImports: true
BinPackArguments: false
BinPackParameters: false
BreakBeforeBraces: Custom
BraceWrapping:
    AfterControlStatement: MultiLine
IndentCaseLabels: true
SpacesInContainerLiterals: false
